.hero {

	background-image: url("boy.png");
	
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 60%;
    
}

.font-pc {
	font-family: 'Pacifico', cursive;
}

.font-sil {
	font-family: 'Shadows Into Light', cursive;
}

.TextBOx{
  -moz-border-radius:30px;
  -webkit-border-radius:30px;
  border-radius:30px;
  border: #solid 10px #000;
  background-color: rgba(105,100,100,0.8);
  width:80%;
  margin-left: auto ;
  margin-right: auto ;
}